/**
 * Blocks (BEM), basic UI styled elements
 * that can be used throughout the application
 */

/**
 * Block: title-{1-6}
 */
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  // line-height: 1;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
.title-1 {}
.title-2 {}
.title-3 {}
.title-4 {}
.title-5 {}
.title-6 {}

/**
 * Block: btn
 */
.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  border: none;
  user-select: none;
  touch-action: manipulation;
  position: relative;
  transition: all $trs;
  &:hover {}
  &:active {}
  // Colors
  &_accent {
    &:hover {}
    &:active {}
  }
  // Transformations
  &_wide {
    display: block;
    width: 100%;
  }
}

/**
 * Block: ratio-box
 */
.ratio-box {
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
  }
  > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  // &_2-1 {
  //   &:after {
  //     padding-bottom: 50%;
  //   }
  // }
  // &_16-9 {
  //   &:after {
  //     padding-bottom: 56.3%;
  //   }
  // }
  // &_4-3 {
  //   &:after {
  //     padding-bottom: 75%;
  //   }
  // }
}