/**
 * Common application mixes (BEM)
 */

/**
 * Mix: text
 */
.text {
  // Colors
  &-primary {
    color: $primary !important;
  }
  &-accent {
    color: $accent !important;
  }
  &-white {
    color: $white !important;
  }
  &-black {
    color: $black !important;
  }
  &-grey {
    color: $grey !important;
  }

  // Decoration
  // &-decoration {
  //   &-underline {
  //     text-decoration: underline !important;
  //   }
  // }

  // Other
  // &-nowrap {
  //   white-space: nowrap;
  // }

  // Transformations
  // &-lower {
  //   text-transform: lowercase !important;
  // }
  // &-upper {
  //   text-transform: uppercase !important;
  // }
  // &-transform {
  //   &-none {
  //     text-transform: none !important;
  //   }
  // }
}

/**
 * Mix: lh-{}
 */
.lh {
  &-1 {
    line-height: 1 !important;
  }
  &-compact {
    line-height: 1.15 !important;
  }
}

/**
 * Mix: font-{}
 */
.font {
  // Sizes
  // @each $size, $value in $font-size {
  //   &-#{$size} {
  //     font-size: $value !important;
  //   }
  // }

  // Weight
  // &-weight {
  // &-light {
  //   font-weight: 300 !important;
  // }
  // &-medium {
  //   font-weight: 500 !important;
  // }
  // &-semibold {
  //   font-weight: 600 !important;
  // }
  // &-bold {
  //   font-weight: 700 !important;
  // }
  // &-extrabold {
  //   font-weight: 800 !important;
  // }
  // &-black {
  //   font-weight: 900 !important;
  // }
  // }

  // Style
  // &-style {
  //   &-normal {
  //     font-style: normal !important;
  //   }
  // }
}

/**
 * Mix: pos
 */
.pos {
  // &-static {
  //   position: static !important;
  // }
  // &-absolute {
  //   position: absolute !important;
  // }
  // &-relative {
  //   position: relative !important;
  // }
}

// Responsive
// @each $breakpoint in map-keys(map-remove($grid-breakpoints, sm, md, lg, xl, xxl, xxxl)) {
//   @include media-breakpoint-up($breakpoint) {
//     $infix: breakpoint-infix($breakpoint, map-remove($grid-breakpoints, xl, xxl, xxxl));

//     .pos#{$infix} {
//       &-absolute {
//         position: absolute !important;
//       }
//       &-relative {
//         position: relative !important;
//       }
//       &-static {
//         position: static !important;
//       }
//     }
//   }
// }

/**
 * Mix: z-{}
 */
.z {
  // &-n1 {
  //   z-index: -1 !important;
  // }
  // &-0 {
  //   z-index: 0 !important;
  // }
  // &-1 {
  //   z-index: 1 !important;
  // }
}

/**
 * Mix: opacity-{50}
 */
.opacity {
  // &-50 {
  //   opacity: .5 !important;
  // }
}

/**
 * Mix: bg-{}
 */
.bg {
  // Colors
  // &-primary {
  //   background-color: $primary !important;
  // }
  // &-accent {
  //   background-color: $accent !important;
  // }
  // &-white {
  //   background-color: $white !important;
  // }
  // &-black {
  //   background-color: $black !important;
  // }
  // &-grey {
  //   background-color: $grey !important;
  // }

  // Background for lazy images
  // &-holder {
  //   background-color: $grey !important;
  // }
}

/**
 * Mix: w-{}p
 */
.w {
  // &-100p {
  //   width: 100% !important;
  // }
}

/**
 * Mix: maw-{}p
 */
.maw {
  // &-390 {
  //   max-width: 390px !important;
  // }
}

/**
 * Mix: h-{}
 */
.h {
  // &-100p {
  //   height: 100% !important;
  // }
}

/**
 * Mix: mih-{}
 */
.mih {
  // &-390 {
  //   min-height: 390px !important;
  // }
}

/**
 * Mix: img-{}
 */
.img {
  &-cover {
    object-fit: cover !important;
    font-family: "object-fit: cover;" !important;
  }
  // &-contain {
  //   object-fit: contain;
  //   font-family: "object-fit: contain;";
  // }
  // &-full {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  // }
}

/**
 * Mix: list-{}
 */
.list {
  // &-unstyled {
  //   list-style-type: none;
  //   padding: 0;
  //   margin: 0;
  // }
  // &-inline {}
}

/**
 * Mix: select-{}
 */
.select {
  // &-none {
  //   user-select: none !important;
  // }
}

/**
 * Mix: cursor-{}
 */
.cursor {
  // &-pointer {
  //   cursor: pointer !important;
  // }
  // &-default {
  //   cursor: default !important;
  // }
}

/**
 * Mix: mode-{}
 */
.mode {
  // &-silent {
  //   opacity: 0;
  //   pointer-events: none;
  //   user-select: none;
  // }
}

/**
 * Mix: fx-hover-{}
 */
.fx-hover {
  // /**
  //  * Fx: zoomIn
  //  */
  // &-zoomIn {
  //   cursor: pointer;
  //   overflow: hidden;
  //   > * {
  //     transition: all $trs * 2;
  //   }
  //   &:hover,
  //   &:focus {
  //     > * {
  //       opacity: 0.75;
  //       transform: scale(1.065);
  //     }
  //   }
  //   &:active {
  //     > * {
  //       transform: scale(1.025);
  //     }
  //   }
  // }

  // /**
  //  * Fx: moveUp
  //  */
  // &-moveUp {
  //   transition: all $trs * 2;
  //   &:hover,
  //   &:focus {
  //     transform: translateY(-5px);
  //   }
  //   &:active {
  //     transform: translateY(2px);
  //   }
  // }
}

/**
 * Mix: spacer
 */
// .spacer {
//   &-default {
//     padding: 1rem 0;
//   }
// }

/**
 * Mix: text-truncate
 */
.text-truncate {
  // overflow: hidden;
  // text-overflow: ellipsis;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // overflow: hidden;
  // &_2 {
  //   -webkit-line-clamp: 2;
  // }
  // &_3 {
  //   -webkit-line-clamp: 3;
  // }
  // &_5 {
  //   -webkit-line-clamp: 5;
  // }
}